<div class="relative">
	<form
		id="formulario-para-la-busqueda-de-haikus"
		class="w-5/6 h-12 flex items-center mx-3 my-6 py-3 px-4 rounded-full bg-atomic_tangerine absolute z-30 dark:bg-rose_gold"
	>
		<input
			type="text"
			placeholder="Buscar un haiku..."
			id="campo-del-formulario-para-el-ingreso-de-palabras-clave"
			class="ml-2 bg-transparent focus:outline-none text-delft_blue placeholder-delft_blue w-full text-2xl dark:text-pinky_cream dark:placeholder-pinky_cream"
		/>

		<button type="submit" id="boton-del-formulario-que-da-inicio-a-la-busqueda">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 512 512">
				<path
					d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
					class="h-10 w-10 text-delft_blue ml-2 dark:text-pinky_cream"
					fill="currentColor"></path>
			</svg>
		</button>
	</form>
</div>
<script>
	const formularioDelBuscador = document.getElementById(
		"formulario-para-la-busqueda-de-haikus",
	) as HTMLFormElement;
	const campoDeTextoDelBuscador = document.getElementById(
		"campo-del-formulario-para-el-ingreso-de-palabras-clave",
	) as HTMLInputElement;

	formularioDelBuscador?.addEventListener("submit", (evento) => {
		evento.preventDefault();
		const parametrosDeBusqueda = new URLSearchParams();
		parametrosDeBusqueda.set("palabras-clave", campoDeTextoDelBuscador.value);
		parametrosDeBusqueda.set("estado-de-la-busqueda", "cargando");
		document.location.search = parametrosDeBusqueda.toString();
	});
</script>
