<div class="h-full flex flex-col justify-center">
	<div class="text-2xl" id="espacios-para-ratificar-la-busqueda-del-usuario"></div>
</div>
<script>
	const consulta = document.getElementById(
		"espacios-para-ratificar-la-busqueda-del-usuario",
	) as HTMLDivElement;

	const mostrarIconoDeBusquedaSiNoExistenConsultasRealizadas = (): void => {
		const urlParams = new URLSearchParams(document.location.search);
		const palabrasClave = urlParams.get("palabras-clave");
		if (!palabrasClave) {
			consulta.textContent = "No se ha realizado ninguna consulta.";
		}
	};

	const ratificarConsultaAtravesDeUnMensajeSiEsQueLaConsultaFueraRealizada = (): void => {
		const urlParams = new URLSearchParams(document.location.search);
		const palabrasClave = urlParams.get("palabras-clave");
		if (palabrasClave) {
			consulta.textContent = palabrasClave;
		}
	};

	document.addEventListener("DOMContentLoaded", () => {
		mostrarIconoDeBusquedaSiNoExistenConsultasRealizadas();
		ratificarConsultaAtravesDeUnMensajeSiEsQueLaConsultaFueraRealizada();
	});
</script>
