---
import HaikuSection from "@components/haiku-section.astro";
import Ave from "./icons/ave.astro";
import Templo from "./icons/templo.astro";
import Montania from "./icons/montaña.astro";
import MontaniaDos from "./icons/montañaDos.astro";
---

<HaikuSection>
	<div class="bg-atomic_tangerine h-full tablet:rounded-tablet overflow-hidden">
		<div class="relative h-full">
			<div class="absolute -right-20 -top-16">
				<div class="h-52 w-52 rounded-full bg-bright_pink_crayola"></div>
			</div>
			<div class="absolute right-20 top-20">
				<Ave />
			</div>
			<div class="absolute right-5 top-24">
				<Ave />
			</div>
			<div class="absolute -left-5 bottom-16">
				<MontaniaDos />
			</div>
			<div class="absolute -bottom-36 -left-24">
				<Montania />
			</div>
			<div class="absolute -left-80">
				<Templo />
			</div>
			<div class="absolute prose prose-p:text-delft_blue prose-p:font-bold m-3">
				<slot />
			</div>
		</div>
	</div>
</HaikuSection>
