* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0;
}

p {
	user-select: none;
}
@keyframes smoothScroll {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100vh); 
	}
}
::view-transition(scroll){
	animation: smoothScroll 3s ease-in-out forwards;
}