---
import HaikuMenu from "@components/haiku-menu.astro";
import HaikuSection from "@components/haiku-section.astro";
import HaikusLayout from "@layouts/haikus-layout.astro";
import Scroll from "@components/scroll.astro";
import Grulla from "@components/grulla.astro";
import "../../public/assets/scroll-redirect";
---

<HaikusLayout>
	<HaikuSection class="flex flex-col h-screen">
		<HaikuMenu />
		<h1 class="font-roboto-serif font-bold text-atomic_tangerine pb-[4%] pl-[10%] leading-none laptop:text-laptopmain px-12 pt-4 dark:text-rose_gold">
			Haiku Reels
		</h1>
	
		<p class="font-roboto-serif font-semibold text-atomic_tangerine text-[4rem] pb-[10%] pl-[10%] laptop:text-laptop px-12 dark:text-rose_gold">
			Lorem ipsum blabla<br /> ipsum blablaLorem
		</p>
	
		<div class="flex-grow"></div> <!-- Espacio flexible para empujar al Scroll abajo -->
		<Grulla/>
		<Scroll />
	</HaikuSection>
	
</HaikusLayout>
<script>
	console.log("Scroll redirect script loaded");

	if (typeof window !== "undefined") {
		document.addEventListener("DOMContentLoaded", () => {
			console.log("DOM fully loaded and parsed");
			document.addEventListener("wheel", (event) => {
				console.log("Wheel event detected");
				if (event.deltaY > 0) {
					console.log("Redirecting to /galeria");
					window.location.href = "/haiku-reels-astro/galeria/";
				}
			});
		});
	}
</script>
