---
import HaikuMenu from "@components/haiku-menu.astro";
import HaikuSection from "@components/haiku-section.astro";
import HaikusLayout from "@layouts/haikus-layout.astro";
import Scroll from "@components/scroll.astro";
import Grulla from "@components/grulla.astro";
---

<HaikusLayout>
	<HaikuSection>
		<HaikuMenu />
		<h1 class="font-roboto-serif font-bold  text-atomic_tangerine px-[10%] pt-[10%] leading-none text-[12rem] md:text-96 px-12 pt-4">
			Haiku Reels
		</h1>

		<p class="font-roboto-serif font-semibold text-atomic_tangerine px-[10%] text-[4rem] pb-[8%] md:text-20 px-12 pb-0">
			Lorem ipsum blabla<br /> ipsum blablaLorem
		</p>
		<Grulla/>
		<Scroll />
	</HaikuSection>
</HaikusLayout>
