---
import HaikuMenu from "@components/haiku-menu.astro";
import HaikuSection from "@components/haiku-section.astro";
import HaikusLayout from "@layouts/haikus-layout.astro";
---

<HaikusLayout>
	<HaikuSection>
		<HaikuMenu />
		<h1 class="font-roboto-serif font-bold text-80 text-atomic_tangerine px-12 pt-24 leading-none">
			Sobre Nosotros
		</h1>

		<p class="font-roboto-serif font-semibold text-20 text-atomic_tangerine px-12">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget auctor nulla. Vestibulum faucibus eros quis faucibus fermentum. Etiam congue dictum lacinia. Vivamus condimentum porta hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer leo quam, vestibulum ac mauris nec, euismod eleifend erat. Vivamus ut tincidunt nulla. Nam vitae nisi nisl. Quisque ultrices ante odio, nec gravida risus eleifend varius. Vestibulum nulla velit, hendrerit ac velit non, mollis euismod libero. Phasellus id ullamcorper ex. Donec non posuere mi. Donec pellentesque dui eros, et consequat nisi rhoncus non. Sed volutpat tristique mauris sed ultricies. Quisque luctus sollicitudin interdum. Nulla maximus at ipsum quis elementum. 

		</p>
		
	</HaikuSection>
</HaikusLayout>
