---
import HaikuSection from "@components/haiku-section.astro";
import HaikusLayout from "@layouts/haikus-layout.astro";
import HtmlLayout from "@layouts/basic-layout.astro";
---

<HtmlLayout>
	<HaikusLayout
		class="mr-8 h-screen w-screen bg-[#fa9f84] flex justify-center items-center overflow-hidden"
	>
		<HaikuSection class="h-[80vh] w-full max-w-md bg-[#432997] p-6 rounded-2xl">
			<h1
				class="font-roboto-serif font-bold tablet:text-tablettitle laptop:text-laptoptitle desktop:text-desktoptitle text-atomic_tangerine px-6 leading-none dark:text-rose_gold mb-4"
			>
				Sobre Nosotros
			</h1>
			<!-- Este contenedor gestionará el scroll interno del texto largo -->
			<div
				class="h-[75%] pr-2 overflow-y-scroll no-scrollbar scrollbar-thin scrollbar-thumb-[#fa9f84] scrollbar-track-transparent dark:scrollbar-thumb-rose_gold"
			>
				<p
					class="font-roboto-serif font-semibold tablet:text-tablet laptop:text-laptop desktop:text-desktop text-atomic_tangerine px-6 dark:text-rose_gold"
				>
					Haiku Reels es un sitio web dedicado a compartir y preservar la creatividad de los
					estudiantes a través de haikus, breves poemas de origen japonés que buscan capturar en
					solo tres líneas un instante fugaz, una emoción profunda o la belleza de la naturaleza.
					Este proyecto es parte de una iniciativa impulsada en el colegio desde hace varios años,
					donde los estudiantes crean haikus como parte de su aprendizaje y expresión artística.
					Esta plataforma permite explorar esos poemas organizados por autoría, fecha, año, escuela
					y curso, ofreciendo una forma única de seguir la evolución de cada generación de
					estudiantes en su desarrollo poético. La web ha sido construida con tecnologías modernas y
					optimizada para dispositivos móviles, creando un entorno agradable y limpio que permite
					concentrarse en los haikus y las ideas que expresan. Este proyecto también está vinculado
					a la Fundación Borges, una organización que trabaja por la promoción del arte y la cultura
					en el contexto educativo. Gracias a su apoyo, el proyecto ha crecido y hoy se extiende a
					la comunidad. Si deseas conocer más sobre su labor, visita la Fundación Borges. Este
					espacio no solo es una plataforma para los haikus, sino también un archivo vivo del
					esfuerzo colectivo por promover la poesía y el arte en el ámbito educativo.
				</p>
			</div>
		</HaikuSection>
	</HaikusLayout>
</HtmlLayout>
