---
import HaikuMenu from "@components/haiku-menu.astro";
import HaikuSection from "@components/haiku-section.astro";
import HaikusLayout from "@layouts/haikus-layout.astro";
---

<HaikusLayout class="h-screen w-screen bg-[#fa9f84] flex justify-center items-center overflow-hidden">
	<HaikuSection class="h-[80vh] w-full max-w-md bg-[#432997] p-6 rounded-2xl">
	  <HaikuMenu />
	  <h1 class="font-roboto-serif font-bold text-80 text-atomic_tangerine px-12 leading-none dark: text-rose_gold mb-4">
		Sobre Nosotros
	  </h1>
	  <!-- Este contenedor gestionará el scroll interno del texto largo -->
	  <div class=" h-[97vh] pr-2 overflow-y-scroll no-scrollbar ">
		<p class="font-roboto-serif font-semibold text-20 text-atomic_tangerine px-12 dark: text-rose_gold">
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget auctor nulla. Vestibulum
		  faucibus eros quis faucibus fermentum. Etiam congue dictum lacinia. Vivamus condimentum porta
		  hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
		  curae; Integer leo quam, vestibulum ac mauris nec, euismod eleifend erat. Vivamus ut tincidunt
		  nulla. Nam vitae nisi nisl. Quisque ultrices ante odio, nec gravida risus eleifend varius.
		  Vestibulum nulla velit, hendrerit ac velit non, mollis euismod libero. Phasellus id
		  ullamcorper ex. Donec non posuere mi. Donec pellentesque dui eros, et consequat nisi rhoncus
		  non. Sed volutpat tristique mauris sed ultricies. Quisque luctus sollicitudin interdum. Nulla
		  maximus at ipsum quis elementum. [Prueba más contenido aquí para asegurar que se desplaza bien dentro del contenedor].Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget auctor nulla. Vestibulum
		  faucibus eros quis faucibus fermentum. Etiam congue dictum lacinia. Vivamus condimentum porta
		  hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
		  curae; Integer leo quam, vestibulum ac mauris nec, euismod eleifend erat. Vivamus ut tincidunt
		  nulla. Nam vitae nisi nisl. Quisque ultrices ante odio, nec gravida risus eleifend varius.
		  Vestibulum nulla velit, hendrerit ac velit non, mollis euismod libero. Phasellus id
		  ullamcorper ex. Donec non posuere mi. Donec pellentesque dui eros, et consequat nisi rhoncus
		  non. Sed volutpat tristique mauris sed ultricies. Quisque luctus sollicitudin interdum. Nulla
		  maximus at ipsum quis elementum. [Prueba más contenido aquí para asegurar que se desplaza bien dentro del contenedor]
		</p>
	  </div>
	</HaikuSection>
  </HaikusLayout>
  