---
import HaikuMenu from "@components/haiku-menu.astro";
import HaikuSection from "@components/haiku-section.astro";
import HaikusLayout from "@layouts/haikus-layout.astro";
import loadHaikus from '../pages/loadHaikus'; // Ajusta la ruta

const haikus = loadHaikus(); // Carga los haikus al inicio

const hello = () => {
  console.log("hello");
};

// Estado para los haikus filtrados
let filteredHaikus = haikus;

function filterHaikus(searchTerm) {
  const lowercasedTerm = searchTerm.toLowerCase();
  filteredHaikus = haikus.filter(haiku => 
    haiku.autoria.toLowerCase().includes(lowercasedTerm) || 
    haiku.content.toLowerCase().includes(lowercasedTerm)
  );
}

function handleInput(event) {
  const searchTerm = event.target.value;
  filterHaikus(searchTerm);
}

function handleKeyDown(event) {
  if (event.key === 'Enter') {
    const searchTerm = event.target.value;
    filterHaikus(searchTerm);
  }
}
---

<HaikusLayout>
  <HaikuSection class="overflow-hidden relative">
    <div class="relative w-[100%] h-[7%]">
      <div class="flex items-center p-2 bg-atomic_tangerine rounded-full absolute top-4 mx-2 w-[85%] h-[72%] z-10 dark:bg-rose_gold">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"class="h-10 w-10 text-delft_blue ml-2 dark:text-pinky_cream" viewBox="0 0 20 20" fill="currentColor "></path>/></svg> 
          <path d="M9 14a5 5 0 100-10 5 5 0 000 10zm7.707 1.293a1 1 0 00-1.414 0L14 16.586 11.707 14.293a7 7 0 111.414-1.414L16.586 14l1.707 1.707a1 1 0 000 1.414z"></path>
        </svg>
        <input 
          id="search-input" 
          type="text" 
          placeholder="Buscar..." 
          class="ml-2 bg-transparent focus:outline-none text-delft_blue placeholder-delft_blue w-full h-full text-[3rem] md:text-[1rem] dark:text-pinky_cream dark:placeholder-pinky_cream" 
          onInput={handleInput}
          onKeyDown={handleKeyDown}
        />
      </div>
      <HaikuMenu haikus={filteredHaikus} />
    </div>
  </HaikuSection>
</HaikusLayout>
