---
import HaikuSection from "@components/haiku-section.astro";
---

<HaikuSection>
	<div
		class="relative h-full tablet:flex tablet:flex-row-reverse tablet:justify-between desktop:block"
	>
		<div
			class="absolute h-full w-full tablet:static tablet:w-1/3 desktop:w-full desktop:absolute"
			container-bg-j
		>
		</div>
		<div class="relative z-10 tablet:static desktop:relative">
			<slot />
		</div>
	</div>
	<script>
		import { createBodies } from "./bodies";
		import { createCanvasByContainer } from "@utils/matterjs/canvas";
		import { Engine } from "@utils/matterjs/engine";

		const containers = document.querySelectorAll(`[container-bg-j]`);
		containers.forEach((container) => {
			const canvas = createCanvasByContainer(container);
			const bodies = createBodies(canvas);
			const engine = new Engine({
				canvas,
				bodies,
			});

			engine.start();
		});
	</script>
</HaikuSection>
