<section class="h-full snap-start snap-always haiku-section">
	<div class="h-full desktop:flex desktop:flex-col desktop:justify-center desktop:items-center">
		<div
			class="h-full desktop:w-[41.5vh] desktop:h-[90vh] desktop:rounded-[32px] desktop:shadow-3xl bg-indigo-900 dark:bg-pinky_cream"
		>
			<slot />
		</div>
	</div>
</section>
