---
export interface Props {
	autoria: string;
	pubDate: Date;
	anio?: string;
	escuela?: string;
	curso?: string;
}

const { autoria, pubDate } = Astro.props;
import HaikuMenu from "./haiku-menu.astro";
---

<div class="flex">
	<div class="m-4 text-atomic_tangerine">
		<HaikuMenu />
		<div
			class="prose prose-p:text-atomic_tangerine prose-p:font-bold prose-p:text-4xl mb-4 prose-p:drop-shadow-lg"
		>
			<slot />
		</div>
		<address class="inline">
			Por <a rel="author" href="/author/john-doe">{autoria}</a> -
		</address>
		<time class="italic" datetime={pubDate.toDateString()} title={pubDate.toDateString()}
			>{pubDate.toLocaleDateString()}</time
		>
	</div>
</div>
