---
import MenuDots from "./menu-dots.astro";
---

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const button = document.getElementById("menu-button") as HTMLButtonElement | null;

		if (button) {
			button.addEventListener("click", () => {
				const menu = document.getElementById("menu") as HTMLElement | null;

				if (menu) {
					menu.classList.toggle("hidden");

					button.style.display = "none";
				}
			});
		}
	});
	const options: string[] = ["Opción 1", "Opción 2", "Opción 3", "Opción 4", "Opción 5"];

	// Selecciona el contenedor de la lista
	const listContainer = document.getElementById("opciones") as HTMLUListElement;

	// Función para crear y agregar elementos de la lista
	const createListItems = (options: string[]): void => {
		// Mapear las opciones a elementos <li>
		const listItems: HTMLLIElement[] = options.map((option) => {
			const li = document.createElement("li");
			li.textContent = option;
			li.className =
				"text-atomic_tangerine bg-deft-blue hover:bg-atomic_tangerine hover:text-deft-blue cursor-pointer p-2 rounded-md";
			return li;
		});

		// Agregar los elementos al contenedor de la lista
		listContainer.append(...listItems);
	};

	// Ejecutar la función para crear y agregar elementos
	createListItems(options);
</script>

<div class="relative">
	<button
		id="menu-button"
		class="menu-button text-atomic_tangerine text-3xl w-12 h-12 absolute top-0 right-0"
		onclick="toggleMenu()"
	>
		<MenuDots fill="#fd9678ff" />
	</button>

	<div id="menu" class="hidden absolute right-0 mt-8 bg-deft-blue text-atomic_tangerine rounded-lg">
		<ul id="opciones" class="flex flex-col space-y-4"></ul>
	</div>
</div>
