<section class="h-full snap-start snap-always haiku-section">
	<div class="h-full tablet:flex tablet:flex-col tablet:justify-center tablet:items-center">
		<div
			class="h-full tablet:h-[932px] tablet:w-[430px] tablet:rounded-[32px] tablet:shadow-2xl bg-delft_blue"
		>
			<slot />
		</div>
	</div>
</section>
