---



---

<style>
	.menu-button {
		cursor: pointer;
		font-size: 24px; /* Aumenta el tamaño del texto */
        padding: 10px 20px; /* Aumenta el área de clic del botón */
        border-radius: 8px; /* Bordes redondeados */	
	}
	
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("menu-button") as HTMLButtonElement | null;
    
    if (button) {
        button.addEventListener("click", () => {
            const menu = document.getElementById("menu") as HTMLElement | null;
            
            if (menu) {
                menu.classList.toggle("hidden");
                
                button.style.display = "none";
            }
        });
    }
});

</script>

<div class="relative">
	<button id="menu-button" class="menu-button text-atomic_tangerine absolute top-0 right-0">
		&#8942;
	</button>
	<div
		id="menu"
		class="hidden absolute right-0 mt-8 bg-indigo-900 text-atomic_tangerine rounded-lg shadow-lg"
	>
		<ul class="flex flex-col space-y-4 p-4">
			<li class="text-atomic_tangerine bg-indigo-900 hover:bg-atomic_tangerine hover:text-indigo-900 cursor-pointer p-2 rounded-md">Opción 1</li>	
			<li class="text-atomic_tangerine bg-indigo-900 hover:bg-atomic_tangerine hover:text-indigo-900 cursor-pointer p-2 rounded-md">Opción 2</li>
			<li class="text-atomic_tangerine bg-indigo-900 hover:bg-atomic_tangerine hover:text-indigo-900 cursor-pointer p-2 rounded-md">Opción 3</li>
			<li class="text-atomic_tangerine bg-indigo-900 hover:bg-atomic_tangerine hover:text-indigo-900 cursor-pointer p-2 rounded-md">Opción 4</li>
			<li class="text-atomic_tangerine bg-indigo-900 hover:bg-atomic_tangerine hover:text-indigo-900 cursor-pointer p-2 rounded-md">Opción 5</li>
		</ul>
	</div>
</div>
