---
import MenuDots from "./menu-dots.astro";
import MenuInfo from "./menu-info.astro";
import MenuMode from "./menu-mode.astro";
import MenuSearch from "./menu-search.astro";
import MenuBook from "./menu-book.astro";
import MenuHome from "./menu-home.astro";
---

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const button = document.getElementById("menu-button") as HTMLButtonElement | null;

		if (button) {
			button.addEventListener("click", () => {
				const menu = document.getElementById("menu") as HTMLElement | null;

				if (menu) {
					// Toggle visibility by adding or removing the 'hidden' class
					menu.classList.toggle("hidden");
				}
			});
		}
	});
</script>

<div class="relative">
	<button
		id="menu-button"
		class="menu-button text-atomic_tangerine text-3xl w-12 h-12 absolute top-3 right-0"
	>
		<MenuDots fill="#fd9678ff" />
	</button>

	<div
		id="menu"
		class="hidden absolute right-3 top-8 mt-8 bg-deft-blue text-atomic_tangerine rounded-lg"
	>
		<ul id="opciones" class="flex flex-col space-y-4">
			<li><MenuInfo fill="#fd9678ff" /></li>
			<li><MenuMode fill="#fd9678ff" /></li>
			<li><MenuSearch fill="#fd9678ff" /></li>
			<li><MenuBook fill="#fd9678ff" /></li>
			<li><MenuHome fill="#fd9678ff" /></li>
		</ul>
	</div>
</div>
