<div class="h-full tablet:flex tablet:flex-col tablet:justify-center tablet:items-center">
	<div
		class="h-full tablet:w-[41.5vh] tablet:h-[90vh] tablet:rounded-[2rem] tablet:shadow-3xl bg-delft_blue dark:bg-pinky_cream"
	>
		<slot />
	</div>
</div>
