---
import HaikuSection from "@components/haiku-section.astro";
---

<HaikuSection>
	<div class="h-full flex flex-col">
		<div class="grow" container-bg-lamparas></div>
		<slot />
	</div>
	<script>
		import { createBodies } from "./bodies";
		import { createCanvasByContainer } from "@utils/matterjs/canvas";
		import { Engine } from "@utils/matterjs/engine";
		import Matter from "matter-js";

		const containers = document.querySelectorAll(`[container-bg-lamparas]`);
		containers.forEach((container) => {
			const canvas = createCanvasByContainer(container);
			const bodies = createBodies(canvas);
			const updateEngine = Matter.Engine.create();
			const engine = new Engine({
				canvas,
				bodies,
				engine: updateEngine,
			});

			Matter.Events.on(updateEngine, "beforeUpdate", () => {
				bodies.forEach((body) => {
					Matter.Body.setVelocity(body, { x: 0, y: -0.3 });
				});
			});

			engine.start();
		});
	</script>
</HaikuSection>
